body {
    background-color: lightgray;
}

.blog-post-card {
    background-color: white;
    border-radius: 50px;
    width: 80%;
    text-align: center;
}

.post-img {
    width: 100%;
    border-bottom: 3px solid black;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
}

.post-content {
    padding: 25px;
}

.post-title, .post-excerpt {
    color: darkblue;
    margin: 20px;
}

.read-more {
    color: darkblue;
    background-color: lightgray;
    margin: 10px;
    padding: 10px;
    border-radius: 40px;
    display: inline-block;
}

.read-more:hover {
    color: white;
    background-color: darkblue;
}